# Final activity Week 6

This notebook consists of a series of tasks required for completing the final activity of the sixth week of the "Tools for Data Science" course, and it will be evaluated by peers.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- Apply arithmetic expressions in Jupyter Notebook

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Visual Studio Code |
| Anaconda |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Gabriel Da Rosa